/* !Paddings && !Margins */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center Body Content */
body{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Button Class */
.button{
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    color: black;
    border: #000 1px solid;
    overflow: hidden;
    transition: all .3s ease;
    background: none;
    text-decoration: none;
    border-radius: 30px;
}

.button:hover{
    color: #ffdd00 !important;
}

.button::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 0px;
    height: 100%;
    background-color: #000;
    color: white;
    transition: all .3s ease;
    z-index: -1;
}

.button:hover::before{
    width: 100%;
}
